body {
    background-color: white;
}
.container{
    max-width: max-content;
    border-radius: 15px;

}
.button{
    max-width: 140px;
}
p{
    margin-bottom: 5px;
}
.f{
    margin-top: 40px;
    margin-bottom: 40px;
}
.nameForm{
    font-size: 40px;
    max-width: max-content;
    font-family: 'Times New Roman', Times, serif;
}
.fon{
    background: lawngreen;
}

